.orders-container {
  padding: 0;
  height: calc(100vh - 40px); /* Adjust based on header height */
  padding-top: 80px;
  overflow: hidden; /* Hide scrollbar on the container */
  background-color: white; /* Optional: add a background color for contrast */
  width: calc(100% - 250px); /* Adjust this value based on the width of the sidebar */
}

.table-container {
  max-height: calc(100vh - 80px); /* Adjust height to account for header and padding */
  overflow-y: auto; /* Enable vertical scrolling within the table container */
  width: 100%; /* Ensure the table container takes full width available */
}

.table-header-cell {
  font-weight: bold;
  background-color: white; /* Optional: Light gray background for header */
  position: sticky;
  top: 0; /* Ensure the header sticks to the top */
  z-index: 1; /* Make sure it stays on top of other content */
}

.table-header-cell:nth-child(1),
.table-header-cell:nth-child(2),
.table-header-cell:nth-child(3),
.table-header-cell:nth-child(4),
.table-header-cell:nth-child(5),
.table-header-cell:nth-child(6) {
  color: dodgerblue;
  font-weight: bold; /* Make header text bold */
  font-size: larger;
}